{% extends "base.html" %}
{% block title %} case titles {% endblock %}
{%block content%}
<div class="row text-center vertical-middle-sm">
    <h1>my blog</h1>
</div>
<div class="row">
    <div class="col-xs-12 col-md-8">
        <ul>
            {% for case in cases %}
            <li>{{case.title}}</li>
			<img src="{{case.img.url}}" alt="hoho", width='200' height="100"/>
            {%endfor%}
        </ul>
    </div>
    <div class="col-xs-6 col-md-4">
        <h2>test</h2>
        <p><a href="https://github.com/lihao2333">fork me</a></p>
        <img width="300px" src="http://www.igeek.com.cn/uploads/2018/02/13/6053bdbed6773dcd110aa99a6d978dc4.jpeg">
    </div>
</div>
{%endblock%}
